<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./partial/topview.ejs') %>
    
    <form action="/register" method="post">

        <label for="username">Username</label>
        <br>
        <input type="text" name="username" id="username">
        <br><br>

        <label for="password">Password</label>
        <br>
        <input type="text" name="password" id="password">
        <br><br>

        <label for="role">Role</label>
        <br>
        <select name="" id="">
            <option value="" selected>--- Select Role ---</option>
            <option value="Admin">Admin</option>
            <option value="User">User</option>
        </select>

        <button type="submit">Register</button>
    </form>
</body>
</html>